@font-face {
    font-family: Karla;
    src: url(fonts/Karla-Regular.ttf);
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter-Regular.ttf);
}

body {
    background-color: #1C1C1C;
    
}



#wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
    
}

#top-level {
    max-height: 550px;
    max-width: 550px;
    background: #1F2937;
    font-family: Karla;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -0.025em;
    color: #FFFFFF;
    ;
    padding-top: 100px;
    padding-bottom: 0px;

}

.header-1, .header-2, .header-text, #generate-button {
    margin-left: 50px;
}
.header-2  {
    color: #10B981;
}

.header-text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #D5D4D8;
}

#generate-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;
    width: 223px;
    height: 42px;
    margin-top: 50px;
    background: #10B981;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #FFFFFF;
}

hr {
    width: 446px;
    height: 0px;
    border: 1px solid #2F3E53;
}

#bottom-level {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.password-box {
    display: flex;
    width: 211px;
    height: 39px;
    margin: 20px;
    background: #273549;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #55F991;
}
